<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>
<body>
  <nav>
    <a href="{% url 'practice' %}" ><button {{ link_practice }}>Practice</button></a>
    <a href="{% url 'lesson' %}" ><button {{ link_lesson }}>Lesson</button></a>
    <a href="{% url 'about' %}" ><button {{ link_about }}>About</button></a>
  </nav>
  <h1>{{ text }}</h1>
  {% if id == 'practice' %}
    <div class="tasks">Блок</div>
  {% endif %}
</body>
</html>
