{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block aside %}
  <h4 class="mt-2">Интересные статьи</h4>
  <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail" alt="Картинка">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur exercitationem, suscipit commodi nobis similique!</p>

  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>

  <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail mt-4" alt="Картинка">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, ipsa.</p>

  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock %}
