{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {% for post in news %}
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <p>{{ post.text }}</p>
      <span class="text-muted">Публикация: {{ post.date|date:"j F Y, время: H:i:s" }}</span>
      {% if post.autor %}
        <p><b>Автор:</b> <mark>{{ post.autor }}</mark></p>
      {% else %}
        <p><b>Автор:</b> <mark>автор не указан</mark></p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}


{% block aside %}
  <h4 class="mt-2">Интересные статьи</h4>
  <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail" alt="Картинка">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, ipsa.</p>

  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>

  <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4" alt="Картинка">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consectetur exercitationem, suscipit commodi nobis similique!</p>

  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock %}
